<section id="hero">
    <div class="row">
      <h1>PYLON</h1>
      <div class="image homepage" id="pylon" style="background-image:url('../assets/images/homepage.jpg')" alt="Pylon Icon"></div>
    </div>
</section>
