<header>
  <nav>
    <ul class="container">
      <li class="menu">&#9776;</li>
        <div class="dropdown">
        <% if(locals.isAuthenticated) { %>
          <li "nav-item">
            <a href="/users/<%= currentUser.id %>"><div id="navbarProfilePic" class="image" style="background-image:url(<%= currentUser.imageSRC %>)" alt="<%= currentUser.username %>"></div></a><br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pylons/new">Add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pylons">Pylons</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
        <% } %>
      </div>
    </ul>
  </nav>
</header>
