<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PYLON</title>
    <% include ./partials/_stylesheets %>
  </head>
  <body>
    <header>
      <% include ./partials/_navbar %>
    </header>
    <main class="container">
      <h1>PYLON</h1>
      <% for(const type in messages) { %>
        <p class="flash <%= type %>"><%= messages[type] %></p>
      <% } %>
      <%- body %>
    </main>
      <% include ./partials/_scripts %>
  </body>
</html>
