@import "bootstrap/bootstrap";

//Can import variables from another sheet but only using two
$dark-blue: #405bc1;
$green: #00a289;
$yellow: #fce650;
$medium-blue: #7297b4;
$red: #ef4c59;
$grey-blue: #ccd8dc;

body {
  font-family: 'Raleway', sans-serif;
  background-image: url('../assets/images/background.jpg');
  background-position: center;
  position: relative;
  &.home {
    main.container {
      padding: 0;
    }
  }
}

main {
  background-color: white;
  min-height: calc(100vh - 54px);
  margin-top: 54px;
  padding: 30px 0;
}

* {
  font-family: inherit;
}

.btn, a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  padding: 10;
  font-weight: bold;
  font-size: 15px;
  &:hover {
    color: $red;
  }
}

.btn, .flash {
  position: center;
  background-color: white;
  width: 230px;
  margin: 12px;
  border: 2px solid black;
  letter-spacing: 3px;
  border-radius: 0;
  padding: 20px;
  &:hover {
    border-color: $red;
  }
}

.flash {
  text-align: center;
  width: 500px;
  border-color: $red;
  color: $red;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  padding: 10;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 3px;
  margin-left: 28%;
}

h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $green;
}

header {
  position: fixed;
  top: 0; //fix it to very top
  left: 0; //have to tell it because it is fixed
  right: 0;
  z-index: 2;
  background-color: $green;
  height: 54px;
  }

.menu {
  cursor: pointer;
  display: none;
  font-size: 30px;
  list-style-type: none;
  color: $yellow;
}

nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      float: right;
      margin-left: 20px;
      line-height: 40px;
      &:last-of-type {
        margin-left:0;
      }
      a {
        color: $yellow;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        &:after {
          content: "";
          height: 2px;
          width: 100%;
          background-color: $red;
          position: absolute;
          bottom: -1px;
          left: 0;
          opacity: 0;
          transition: opacity 0.2s ease;
        }
        &:hover {
          color: $red;
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
}

.navbar-brand {
text-transform: uppercase;
letter-spacing: 3px;
line-height: 40px;
font-size: 32px;
color: $yellow;
}


.image {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar-brand {
  position: fixed;
  float: right;
}

.register {
  transform: translate(-50%, 2%);
  left: 50%;
}

.login{
  transform: translate(-50%, 25%);
  left: 50%;
}

.new, .edit {
  left: 25%;
}

.login, .register, .new, .edit {
  position: relative;
}

label {
  color: $black;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#map {
  height: 60vh;
}

#pac-input {
  width: 100%;
  margin-bottom: 2%;
  border-bottom: 2px solid $green;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  &:focus {
    border-bottom: 2px solid $green;
    color: $green;
  }
}

#comments {
  border-bottom: 2px solid $green;
}

#pac-container, .newForm {
  margin-top: 10%;
}

.user {
  h2 {
    margin-top: 10px;
    font-size: 25px;
  }
}

input[type=text][readonly] {
  color: $green;
  background-color: transparent;
  border-color: transparent;
  letter-spacing: 3px;
}

input[type=text] {
  color: $green;
}

.profile_pic {
  padding-top: 12px;
  border:2px solid black;
  position:relative;
  color:black;
  text-align:center;
  position: center;
  cursor:pointer;
  width: 40%;
  height: 50px;
  margin-left: 32%;
  font-size: 15px;
  font-weight: bold;
  &:hover {
    border-color: $red;
    color: $red;
  }
}

.hide_file {
   position: absolute;
   z-index: 1000;
   opacity: 0;
   cursor: pointer;
   right: 0;
   top: 0;
   height: 100%;
   font-size: 24px;
   width: 100%;
   cursor:pointer;
   position: center;
}

.form-group {
  letter-spacing: 2px;
}

.form-control {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  &:hover {
    border-bottom: 2px solid $green;
  }
  &:focus {
    border-bottom: 2px solid $green;
    color: $green;
  }
}

select.category {
  border: 0;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 15px;
  position: center;
  background-color: white;
  width: 230px;
  margin: 12px;
  letter-spacing: 3px;
  margin-top: 30px;
}

select.newCategory {
  border: 0;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  position: center;
  background-color: white;
  width: 180px;
  margin: 12px;
  letter-spacing: 3px;
}

.index {
  margin-top: 10%;
}

#hero {
  .homepage {
    height: calc(100vh - 54px);
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    display: block;
  }
}

.loginButtons {
  margin-left: 25%;
}

.registerButton {
  margin-left: 28%
}

.addButton {
  margin-left: 30%;
}

.secondColumn {
  font-size: 15px;
}

.pylonIndex {
  width: 200px;
}

.eachPylon {
  border-bottom: 2px solid $green;
  padding-top: 30px;
  padding-bottom: 30px;
  &:first-of-type {
    padding-top: 0;
  }
  &:last-of-type {
    border-bottom: 0;
  }
}

.modal-body {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}


@media only screen and (max-width: 950px) {

  header {
    height: auto;
    nav {
      ul {
        li {
          display: block;
          float: none;
          text-align: right;
          &.menu {
            display: block;
          }
        }
        .dropdown {
          display: none;
        }
      }
    }
  }
  .loginButtons {
    margin-left: 6%
  }
}
